.option
{
  padding: 10px 10px 10px 10px;
}
.option:hover
{
  letter-spacing: 3px;
}
.wrapper
{
    border: 1px solid rgb(204, 202, 202);
    border-radius: 8px;
    margin-bottom: 5px;
}
h4:hover
{
    color: blue;
}
.divider
{
    color: rgb(204, 202, 202)
}
.wrapclass
{
    width: 50%;
}